#GUNA{
         position:absolute;
		 left:150px;
		 top:70px; 
		 }
#GUNA1{
         text-align-last:justify
		 
		 }
#GUNA2{
         text-align-last:justify
		 
		 }
#GUN{
     position:absolute;
         top:15px;
left:150px;}
#name{
	position:absolute;
width:88%;left:125px;
top:76px;}		 
		